@import "tailwindcss";
body{
    font-family: "Satoshi";
}

.Navbar {
  border-bottom: 10px solid #000000; 
}
.V-font{
  font-family: "Edwardian Script ITC";
  font-size: 400px;
}

.ISTRY-font{
  font-size: 275px;
  letter-spacing: -0.4rem;
  font-weight: bold;
  
}